/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
  --line: 1px solid var(--color-grey-light-2);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-color: pink;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.logo {
  width: 100%;
  display: block;
}

.logo-box {
  width: 4.75rem;
  margin-left: 2rem;
}

.search {
  display: flex;
  flex: 0 0 40%;
  align-items: center;
  justify-content: center;
}
.search__input {
  width: 90%;
  margin-right: -3.25rem;
  padding: 0.7rem 2rem;
  border: none;
  background-color: var(--color-grey-light-2);
  border-radius: 100px;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
  transition: all 0.2s;
}
.search__input::-webkit-input-placeholder { /* Edge */
  color: var(--color-grey-dark-3);
  font-weight: 100;
}
.search__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-grey-light-4);
  font-weight: 100;
}
.search__input::placeholder {
  color: var(--color-grey-light-4);
  font-weight: 100;
}
.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}
.search__button {
  background-color: var(--color-grey-light-2);
  border: none;
}
.search__button:active {
  transform: translateY(2px);
}
.search__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-grey-dark-3);
}

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
}
.user-nav > * {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
  cursor: pointer;
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__notification {
  background-color: var(--color-primary);
  color: #fff;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
}
.user-nav__user-photo {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 100px;
  margin-right: 1rem;
}
.user-nav__profile-menu {
  display: flex;
  align-items: center;
}

.side-nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 3.5rem;
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item--active {
  background-color: var(--color-primary);
}
.side-nav__item--active:active {
  background-color: var(--color-primary-light);
}
.side-nav__item::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.side-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
  background-color: var(--color-primary);
}
.side-nav__item:active::before {
  background-color: var(--color-primary-light);
}
.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: #fff;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 5;
}

.legal {
  color: var(--color-grey-light-4);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
}

.gallery {
  display: flex;
}
.gallery__img {
  width: 100%;
  display: block;
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
}
.overview__heading {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 100;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
}
.overview__stars {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overview__icon-star {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}
.overview__location {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
.overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
  margin-right: 0.5rem;
}
.overview__rating {
  padding: 0 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  align-self: stretch;
}
.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
}
.overview__rating-count {
  font-size: 0.8rem;
}

.button-inline {
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  color: var(--color-primary);
  font-size: 1.2rem;
  align-self: flex-start;
  cursor: pointer;
  background-color: transparent;
}
.button-inline:hover {
  color: #000;
}
.button-inline:focus {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
.container {
  max-width: 120rem;
  margin: 8rem auto;
  box-shadow: var(--shadow-dark);
  background-color: #fff;
}

.header {
  background-color: #fff;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  border-bottom: var(--line);
}

.sidebar {
  min-height: 80rem;
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
